@model IEnumerable<Entities.ProductsEntity>

@{
    /**/
    ViewBag.Title = "Lista de Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Agregar")
    </p>
    <table class="table">
        <tr>
            <th>Tittle</th>
            <th>Nombre</th>
            <th>Description</th>
            <th>Observations</th>
            <th>Price Distributor</th>
            <th>Price Client</th>
            <th>Price Member</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Tittle)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Observations)</td>
                <td>@Html.DisplayFor(modelItem => item.PriceDistributor)</td>
                <td>@Html.DisplayFor(modelItem => item.PriceClient)</td>
                <td>@Html.DisplayFor(modelItem => item.PriceMember)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Borrar", new { id = item.Id/* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
</body>
</html>
