@model IEnumerable<Entities.ProductsEntity>

@{
    /**/
    ViewBag.Title = "Lista de Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br />
    <p>
        @Html.ActionLink("Create New", "Agregar")
    </p>
    <p>
        @using (Html.BeginForm("Index","Products",FormMethod.Get))
        {
            <b>Search By: </b> @Html.RadioButton("searchBy", "Name",true) <text>Name</text>
            @Html.RadioButton("searchBy", "ID") <text>ID</text>
            <br />
            @Html.TextBox("search",null, new {placeholder = "Search"}) <input type="submit" value="Search" class="btn btn-sm"/>
        }
    </p>
    <table class="table" border="1">
        <tr>
            <th>Tittle</th>
            <th>Nombre</th>
            <th>Description</th>
            <th>Observations</th>
            <th>Price Distributor</th>
            <th>Price Client</th>
            <th>Price Member</th>
            <th>Action</th>
        </tr>
        @if (!object.Equals(Model, null))
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Tittle)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Observations)</td>
                    <td>@Html.DisplayFor(modelItem => item.PriceDistributor)</td>
                    <td>@Html.DisplayFor(modelItem => item.PriceClient)</td>
                    <td>@Html.DisplayFor(modelItem => item.PriceMember)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id/* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id/* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Borrar", new { id = item.Id/* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        }

    </table>
</body>
</html>
